<!-- Content Header (Page header) -->
<section class="content-header content-margin">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">App Gifs!</h1>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content content-margin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-body">
          <p class="border-p">
            <strong>Info: </strong> Estructura de la aplicación de media a gran
            escapa, Componentes, ViewChild, Servicios, Historial de búsquedas,
            Uso de Api Keys, LocalStorage, Peticiones HTTP,
          </p>
          <app-input-search></app-input-search>
          <app-gif-history></app-gif-history>
        </div>
        <div class="card">
          <app-card-gif></app-card-gif>
        </div>
      </div>
    </div>
  </div>
</section>
