<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Acerca de mí</h3>
  </div>

  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <strong><i class="fas fa-info mr-1"></i> Información:</strong>
          <p class="text-muted">
            <strong>Ci :</strong> {{ profile.ci }} <br />
            <strong>Correo :</strong> {{ profile.email }} <br />
            <strong>Localización :</strong> {{ profile.direction | titlecase }}
          </p>
        </div>
        <div class="col-md-6">
          <strong><i class="fas fa-book mr-1"></i> Educación:</strong>
          <p *ngFor="let item of education" class="text-muted h6">
            <span class="badge badge-secondary mr-1">
              {{ item.date }}
            </span>
            {{ item.name | titlecase }} <br />
            <span class="tag">
              {{ item.title | titlecase }}
            </span>
          </p>
        </div>
      </div>
    </div>
    <hr />
    <div class="container">
      <strong><i class="fas fa-comment mr-1"></i> Me Considero :</strong>
      <p class="text-justify">
        Me considero una persona cuidadosa, tranquila y discreta con interes en
        el aprendizaje autodidacta, enfocado en trabajos estructurados, de la
        misma forma emplear mis destrezas lógicas y analíticas para responder a
        problemas complejos y difíciles para lograr la máxima eficiencia.
      </p>
    </div>
    <hr />
    <div class="container">
      <strong
        ><i class="fas fa-laptop-code mr-1"></i> Educación en linea:</strong
      >
      <p>
        Consumir api de afiliado (Udemy) para mostrar el progreso de mis cursos
      </p>
    </div>
  </div>
</div>
