<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">
      <strong
        ><i class="fas fa-laptop-code mr-1"></i> Curso Online | Plataforma
        Udemy</strong
      >
    </h3>
  </div>

  <app-spinner *ngIf="loading; else view"> </app-spinner>

  <ng-template #view>
    <div class="card">
      <div class="row">
        <div class="col-md-12" *ngFor="let course of courses">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ course.title }}</h3>
              <div class="card-tools">
                <a target="_blank" href="https://www.udemy.com{{ course.url }}">
                  <span class="badge badge-primary"> Ver Curso... </span>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <img src="{{ course.image_240x135 }}" />
                </div>

                <div class="col-md-6">
                  <div
                    class="container"
                    *ngFor="let instructors of course.visible_instructors"
                  >
                    <h6 class="lead">
                      <b>Instructor : {{ instructors.display_name }}</b>
                    </h6>
                    <p class="text-muted text-sm">
                      <b>Acerca: </b> {{ instructors.job_title }}
                    </p>
                    <p>
                      <b>Perfil Udemy: </b>
                      <a
                        target="_blank"
                        href="https://www.udemy.com{{ instructors.url }}"
                        >click aqui</a
                      >
                    </p>
                    <hr />
                  </div>
                </div>
              </div>

              <div class="col-sm-12"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
